<footer>
    <div class="container d-flex flex-column gap-5">
        <div class="d-flex align-items-center justify-content-between ready-to-launch">
            <div>
                <h3 class="fw-bold">Ready to launch  your next project?</h3>
                <p class="color-secondary">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
            </div>
            <button>Get started a project</button>
       </div>
       <div style="background-color: #272B39; height: 1px;"></div>
       <div class="d-flex footer-list justify-content-between">
            <div class="d-flex flex-column gap-3">
                <h3>Brainwave.io</h3>
                <p class="color-secondary">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                <div class="d-flex gap-4">
                    <img src="assets/footer/logo-twitter.svg" alt="">
                    <img src="assets/footer/logo-facebook.svg" alt="">
                    <img src="assets/footer/logo-instagram.svg" alt="">
                    <img src="assets/footer/logo-linkedin.svg" alt="">
                </div>
            </div>
            <div class="d-flex list-content">
                <div class="list">
                    <ul class="color-secondary"> Company
                        <li>About us</li>
                        <li routerLink="/contact-us">Contact us </li>
                        <li>Careers</li>
                        <li>Press</li>
                    </ul>
                </div>
                <div  class="list">
                    <ul class="color-secondary">Product
                        <li>Features</li>
                        <li>Pricing</li>
                        <li>News</li>
                        <li>Help desk</li>
                        <li>Support</li>
                    </ul>
                </div>
                <div  class="list">
                    <ul class="color-secondary">
                        Services
                        <li>Digital Marketing</li>
                        <li>Content Writing</li>
                        <li>SEO for Business</li>
                        <li>UI Design</li>
                    </ul>
                </div>
                <div  class="list">
                    <ul class="color-secondary">Legal
                        <li>Privacy Policy</li>
                        <li>Terms & Conditions</li>
                        <li>Return Policy</li>
                    </ul>
                </div>
            </div>
       </div>
    </div>
</footer>
