footer{
    background-color: #161C2D;
    color: #FFFFFF !important;
    padding: 50px 0px;

    .footer-list{
        gap: 80px;
    }

    @media (max-width:767px) {
        .footer-list{
            flex-direction: column;
            align-items: center;
        }
    }
}
.list-content{
    width: 100%;
    .list{
        width: 200px;
    }
    @media (max-width:767px) {
        flex-direction: column;
        gap: 30px;
        .list{
            width: 100%;
        }
    }
}


.ready-to-launch{
    div{
        width: 490px;
    }
    @media (max-width:767px) {
        flex-direction: column;
        div{
            width: 100% !important;
        }
        
    }
}

ul{
   list-style: none;
   padding: 0;
}
li{
    color: rgba(255, 255, 255);
    margin: 12px 0px;
    cursor: pointer;
}
li:hover{
    color: aquamarine;
}
img{
    cursor: pointer;
}

