.contact-us{
    padding: 150px 50px;
    @media (max-width:767px) {
        padding: 200px 20px;
        .main-form{
            width: 100% !important;
        }
        .fields{
            width: 100% !important;
        }
    }
    .fields{
        width: 40%;
        input{
            padding: 8px 16px;
            outline: none;
            border: 1px solid rgb(41, 32, 32);
            border-radius: 8px;
        }
    }
    .main-form{
        border: 1px solid rgba(39, 27, 27, 0.989);
        border-radius: 8px;
        padding: 40px;
        width: 60%;
    }
}

.contact-list{
    border: 1px solid rgba(39, 27, 27, 0.989);
    border-radius: 4px;
    padding: 8px 12px;
    display: flex;
    h5, .items{
        width: 20%;
    }
    .items{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    @media (max-width:767px) {
        flex-wrap: wrap;
        gap: 15px !important;
        .items{
            width: 46% !important;
            .label{
                font-weight: 600;
            }
        }
    }
}