<div>
  <section class="header-bg pt-3 pb-5">
    <div class="container">
      <header class="d-flex justify-content-between align-items-center">
          <menu class="d-flex">
            <li>Brainwave.io</li>
            <li>Demo</li>
            <li>Pages</li>
            <li>Support</li>
            <li>Contact</li>
          </menu>
        <button>Get started a project</button>
      </header>
      <div class="d-flex align-items-center justify-content-between shade-pro">
        <div class="d-flex flex-column gap-3 shift-business">
          <p class="text-capitalize text-danger">let's shift your business</p>
          <h2>Shift your business fast with Shade pro.</h2>
          <p class="lh-base">With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.</p>
          <button style="width: max-content;">Get started a project</button>
        </div>
        <div class="fem-img">
         <img src="assets/fem-img.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>

<ng-template>

</ng-template>