<div>
    <section class="header-bg pb-5">
      <div class="container">
        <div class="d-flex align-items-center justify-content-between shade-pro">
          <div class="d-flex flex-column gap-3 shift-business">
            <p class="text-capitalize text-danger">let's shift your business</p>
            <h2>Shift your business fast with Shade pro.</h2>
            <p class="lh-base">With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.</p>
            <button style="width: max-content;">Get started a project</button>
          </div>
          <div class="fem-img">
           <img src="assets/fem-img.png" alt="">
          </div>
        </div>
      </div>
    </section>
    <div class="d-flex flex-column align-items-center our-service container">
      <p class="text-capitalize ou-ser">our service</p>
      <h3>We Provide great services for our customer based on neeeds</h3>
      <div class="d-flex services justify-content-center w-100">
        <div class="graphic more">
          <img src="assets/services/Designer-rafiki.svg" alt="">
          <h3>Graphic Design</h3>
          <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
          <button>Learn more <span>-></span></button>
        </div>
        <div class="web-dev more">
          <img src="assets/services/Programming-rafiki.svg" alt="">
          <h3>Web Development</h3>
          <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
          <button>Learn more <span>-></span></button>
        </div>
        <div class="content more">
          <img src="assets/services/Notes-rafiki.svg" alt="">
          <h3>Content Writing</h3>
          <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
          <button>Learn more <span>-></span></button>
        </div>
        <div class="dots d-none-md d-lg-none">
          <img src="assets/services/Group 101.svg" alt="">
        </div>
      </div>
      <div class="d-flex franki">
        <img src="assets/testimonial/franklin.svg" alt="">
        <div class="review">
          <img src="assets/testimonial/Stars.svg" alt="">
          <h2>“OMG! I cannot believe that I have got a brand new landing page after getting Albino. It was super easy to edit and publish.”</h2>
          <p style="font-size: 17px; font-weight: 700;">Franklin Hicks <span style="font-weight:400;">Web Developer</span></p>
        </div>
      </div>
    </div>
    <div style="background-color: #E7E9ED; height: 1px;" class="container"></div>
    <div class="our-story container">
      <div>
        <p class="text-capitalize text-danger mb-5">our story</p>
        <h2>We know how everything works and why your business is failing over and over again.</h2>
        <img src="assets/our-story/1.png" alt="" style="margin-top: 100px;" class="w-md-full">
      </div>
      <div class="d-flex flex-column justify-content-center gap-5 w-100 flex-sm-column-reverse flex-reverse">
        <div class="d-flex align-items-center justify-content-between column-md">
          <div class="position-relative img-1">
            <img src="assets/our-story/2.png" alt="">
            <img src="assets/our-story/Fill 1.svg" alt="" class="position-absolute dots-1">
          </div>
          <img src="assets/our-story/3.png" alt="">
        </div>
        <p>We share common trends and strategies for improving your<br> rental income and making sure you stay in high demand. With<br> lots of unique blocks, you can easily build a page without <br>coding. Build your next landing page.</p>
      </div>
    </div>
    <div class="viewers container">
      <div class="view">
        <h1>1M+</h1>
        Customers visit Omega every month to get their service done.
      </div>
      <div class="view">
        <h1>92%</h1>
        Satisfaction rate comes from our awesome customers.
      </div>
      <div class="view">
        <h1>4.9/5.0</h1>
        Average customer ratings we have got all over internet.
      </div>
    </div>
    <div class="choose-us d-flex flex-column position-relative">
      <img src="assets/choose-us/Group 161.svg" alt="" class="img-dots">
      <div class="container">
        <div class="text-center mb-5">
          <p class="text-danger mb-4">why choose us</p>
          <h2>People choose us because we <br>serve the best for everyone</h2>
        </div>
        <div class="d-flex flex-wrap gap-5 justify-content-center pt-5">
          <div class="d-flex choose">
            <img src="assets/choose-us/img-1.svg" alt="">
            <div>
              <h4>Dedicated project manager</h4>
              With lots of unique blocks, you can<br> easily build a page without coding.<br> Build your next landing page.
            </div>
          </div>
          <div class="d-flex choose">
            <img src="assets/choose-us/img-2.svg" alt="">
            <div>
              <h4>Organized tasks</h4>
              With lots of unique blocks, you can<br> easily build a page without coding.<br> Build your next landing page.
            </div>
          </div>
          <div class="d-flex choose">
            <img src="assets/choose-us/img-3.svg" alt="">
            <div>
              <h4>Easy feedback sharing</h4>
              With lots of unique blocks, you can<br> easily build a page without coding.<br> Build your next landing page.
            </div>
          </div>
          <div class="d-flex choose">
            <img src="assets/choose-us/img-4.svg" alt="">
            <div>
              <h4>Never miss deadline</h4>
              With lots of unique blocks, you can<br> easily build a page without coding.<br> Build your next landing page.
            </div>
          </div>
        </div>
      </div>
      <div style="background-color: #E7E9ED; height: 1px;" class="container"></div>
      <div style="color: #161C2D;" class="d-flex align-items-center justify-content-between container column-md gap-5">
        <div>
          <h2 class="mb-3">Ready to launch your next project?</h2>
          With lots of unique blocks, you can easily build a page without<br> coding. Build your next landing page.
        </div>
        <button>Get started a project</button>
      </div>
    </div>
    <div class="container case-study justify-content-center align-items-center">
      <div class="mb-5">
        <p class="text-capitalize text-danger text-center mb-4">case studies</p>
        <h2 class="text-center">Our works describe why we are <br>the best in the business</h2>
      </div>
      <div class="d-flex w-100 justify-content-center align-items-center column-gap-xl-5 pt-5 flex-wrap">
        <div class="d-flex flex-column row-gap-5 w-md-full">
          <div class="flex-grow-1">
            <img src="assets/case-study/aura-img.png" alt="" class="w-md-full">
            <div class="p-4">
              <p>Graphic Design</p>
              <h3>Aura Branding Design</h3>
            </div>
          </div>
          <div class="flex-shrink-0 w-md-full">
            <img src="assets/case-study/web-dev.png" alt="" class="w-md-full">
            <div class="p-4">
              <p>Web Development</p>
              <h3>Gradient Website Development</h3>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column row-gap-5 w-md-full">
          <div class="flex-shrink-0">
            <img src="assets/case-study/abs.png" alt="" class="w-md-full">
            <div class="p-4">
              <p>Graphic Design</p>
              <h3>AB.S Snack Packaging</h3>
            </div>
          </div>
          <div class="w-md-full">
            <img src="assets/case-study/magazine.png" alt="" class="w-md-full">
            <div class="p-4">
              <p>Graphic Design</p>
              <h3>Magazine Content Writing</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="button-link">
        <p>See all works</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 448 512">
          <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" fill="#473BF0"/>
        </svg>
      </div>
    </div>
    <div class="testimonial">
      <p style="color: #68D585;">Testimonial</p>
      <h2>“Simply the best. Better than all the rest. I’d recommend this product to beginners and advanced users.”</h2>
      <div class="d-flex flex-column align-items-center p-5">
        <img src="assets/testimonial/ian.svg" alt="" class="mb-1">
        <h5>Ian Klein</h5>
        <p>Digital Marketer</p>
      </div>
    </div>
  </div>
  