/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
  }

h1,h2,h3,h4,h5,h6,p{
    margin: 0px !important;
}

input[type="number"]{
    appearance: none;
    -moz-appearance:unset
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button{
    background-color: #473BF0;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 700;
    border-radius: 8px !important;
    border: none;
    padding: 10px 20px;
}

button:hover{
    background-color: #191194;
}

button:disabled{
    cursor: not-allowed;
}

.color-secondary{
    color: rgba(255, 255, 255, 0.5);
}

.column-md{
    @media (max-width:767px) {
        flex-direction: column;
    }
}

.d-none-md{
    @media (max-width:767px) {
        display: none !important;
    }
    display: flex;
}

.flex{
    display: flex;
}

.d-flex-md{
    @media (max-width:767px) {
        display: flex !important;
    }
    display: none;
}
.w-md-full{
    @media (max-width:767px) {
        width: 100% !important;
    }
}